__pycache__
/ntsc/baseband.dat
/ntsc/flag.png
/ntsc/grcon22_flag.png
/ntsc/grcon22_rickroll.png
/ntsc/never_the_same_color.sigmf-data
/ntsc/ntsc_hackrf.py
/ntsc/out.c32
/ntsc/rickroll.png
/signal_to_noise/logo-flag.png
/signal_to_noise/paint_tx.py
/signal_to_noise/paint1.py
/signal_to_noise/rect.c32
/signal_to_noise/signal_to_noise.sigmf-data
/sdrdle/aprs.log
/sdrdle/sdrdle.png
/sdrdle/sdrdle_tx.py
/sigid/sigid.sigmf-data
